<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.padhuga.tamillibrary">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/tamil_backup_rules"
        android:icon="@mipmap/tamil_mother"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/tamil_mother"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activities.PrefsActivity" />

        <activity
            android:name=".activities.MainActivity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.DetailsActivity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.DeepLinkActivity">
            <intent-filter android:label="@string/filter_title_view_tamil">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.ashishandsons.in"
                    android:pathPrefix="/services.html"
                    android:scheme="http" />
                <data
                    android:host="services.html"
                    android:scheme="ashishandsons" />
            </intent-filter>
        </activity>

    </application>
</manifest>

